body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
}
#navegador-lateral {
        background-color: #333;
        width: 400px;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

#navegador-lateral button {
        background-color: #555;
        color: white;
        padding: 10px 20px;
        margin: 10px;
        border: none;
}

#navegador-lateral button:hover {
        background-color: #777;
}

#conteudo {
        margin-left: 420px;
        padding: 20px;
        font-family: "Times New Roman", Times, serif;
}